<div class="favorites-container">
  <h2>Mis Hoteles Favoritos</h2>

  <div *ngIf="favoriteHotels.length === 0" class="no-favorites-message">
    <p>No tienes hoteles favoritos aún. ¡Explora y añade algunos!</p>
    </div>

  </div>

      <div *ngFor="let hotel of favoriteHotels" class="favorite-item">
        <img [src]="getImagen(hotel.img)" [alt]="hotel.nombre" class="favorite-img">
        <div class="item-details">
          <h3>{{hotel.nombre}}</h3>
          <p>{{hotel.descripcion}}</p>
          <p>Ubicación: {{hotel.ubicacion}}</p>
          <span>Precio por noche: **${{hotel.precionoche | number:'1.2-2'}}**</span>
        </div>
        <button (click)="removeFavorite(hotel.id)" class="remove-button">
          Eliminar de Favoritos
        </button>
      </div>
    </div>
